@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
    background-color: #121212;
}

:root {
	--bg: #121212;
	--fg: #eeeeee;

    --button-size: 10rem;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
	background-color: var(--bg);
	flex-direction: column;
	font-family: "Lekton", "Roboto Mono", "Consolas", monospace;
    overflow: hidden;

    color: var(--fg);
}

body section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paw_icon {
    width: 40%;
    aspect-ratio: 1 / 1;
    fill: var(--fg);
    pointer-events: none;
}

.button {
    z-index: 1000;
    width: var(--button-size);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000;
    border-radius: 100%;
    cursor: pointer;

    transition: all 0.1s ease-in-out;
}

@media (hover: hover) {
    .button:hover {
        background-color: #292929;
    }
}

.button:active {
    background-color: #3e3e3e;
    width: calc(var(--button-size)*0.9);
}

.projectile {
    z-index: 100;
    position: absolute;
    font-size: 2rem;
    font-family: "Roboto Mono", "Consolas", monospace;
}

.counter_container {
    display: flex;
    align-items: center;
    gap: 1em;
    transform: translateX(1.5em);
}

.counter_container:hover .reset_button {
    stroke: #555555;
    cursor: pointer;
    pointer-events: auto;
}

.counter_container:hover .reset_button:active {
    stroke: #777777;
}

.reset_button {
    position: relative;
    stroke: var(--bg);
    fill: none;
    width: 2em;
    transform: translateY(0.5em);
    transition: all 0.1s ease-in-out;
}

.footer_section {
    flex-direction: column;
    gap: 2em;
}

.attribution_text {
    color: #555555;
    transition: all 0.1s ease-in-out;
    text-align: center;
}

.attribution_text a:hover {
    color: #777777;
}

input[type="range"] {
    -webkit-appearance: none;
    width: calc(var(--button-size) * 2);
    height: 0.5rem;
    border-radius: 1rem;
    background: #292929;
    transition: all 0.1s ease-in-out;
}

input[type="range"]:hover {
    background: #3e3e3e;
}

input[type="range"]::-moz-range-thumb, input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: #3e3e3e;
    transition: all 0.1s ease-in-out;
}

input[type="range"]:hover::-moz-range-thumb, input[type="range"]:hover::-webkit-slider-thumb {
    background: #555555;
}

input[type="range"]:active::-moz-range-thumb, input[type="range"]:active::-webkit-slider-thumb {
    background: #777777;
}